[Desktop Entry]
Version=1.0.0
Name=ccaf practice exam
GenericName=ccaf practice exam
Comment=A new Flutter project.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=ccaf_practice_exam
